<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Add Mahasiswa</title>
    <style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
</head>
<body>
<div align="center">
    <h1>User Registration</h1>
    <form action="#" th:action="@{/addMahasiswa}" method="post" th:object="${mahasiswa}">
        <label>NIM:</label>
        <input type="text" th:field="*{nim}" /><br/>

        <label>Full Name:</label>
        <input type="text" th:field="*{nama}" /><br/>

        <!--<label>Password:</label>
        <input type="password" th:field="*{password}" /><br/>

        <label>Birthday (yyyy-mm-dd):</label>
        <input type="text" th:field="*{birthday}" /><br/>

        <label>Gender:</label>
        <input type="radio" th:field="*{gender}" value="Male" />Male
        <input type="radio" th:field="*{gender}" value="Female" />Female<br/>-->

        <label>Fakultas:</label>
        <select th:field="*{fakultas}">
            <option th:each="p : ${listFakultas}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

        <label>Jurusan:</label>
        <select th:field="*{jurusan}">
            <option th:each="p : ${listJurusan}" th:value="${p}" th:text="${p}" />
        </select>
        <br/>

<!--
        <label>Married?</label>
        <input type="checkbox" th:field="*{married}" /><br/>

        <label>Note:</label>
        <textarea rows="5" cols="25" th:field="*{note}"></textarea>
        <br/>-->

        <button type="submit">ADD</button>
    </form>
</div>
</body>
</html>